hr.section-divider
footer.footer
    .container 
        .columns

            .column
                nav.panel
                    p.panel-heading
                        | repositories
                
                    a.panel-block.is-active(href='lab1.html')
                        span.panel-icon
                            i.fa.fa-code-fork
                        |     Lab Work 0001
                    a.panel-block.is-active(href='lab2.html')
                        span.panel-icon
                            i.fa.fa-code-fork
                        |     Lab Work 0010
                    a.panel-block(href='lab3.html')
                        span.panel-icon
                            i.fa.fa-book
                        |     Lab Work 0011
                    a.panel-block
                        span.panel-icon
                            i.fa.fa-book
                        |     Lab Work 0100
                    a.panel-block
                        span.panel-icon
                            i.fa.fa-book
                        |     Lab Work 0101


            .column.is-two-thirds
                .box
                    article.media
                        .media-left
                            figure.image.is-64x64
                                img(src='static/img/content/user.jpg', alt='user')
                        .media-content
                            .content
                                p
                                    strong Maryna Hapon
                                    small @hapon
                                    small 31m
                                    br
                                    | hapon hangout laboratory.
                            nav.level.is-mobile
                                a.level-item
                                    span.icon.is-small
                                        i.fa.fa-heart


            .column
                nav.panel
                    p.panel-heading
                        | social link 
                    a.button.is-medium.panel-block(href='https://github.com/MarynaHapon')
                        span.icon
                            i.fa.fa-github
                        span GitHub 
                    a.button.is-medium.panel-block(href='https://codepen.io/hapon')
                        span.icon
                            i.fa.fa-codepen
                        span codepen                    
                    a.button.is-medium.panel-block(href='https://www.linkedin.com/in/maryna-hapon')
                        span.icon
                            i.fa.fa-linkedin
                        span linkedin                  
                    a.button.is-medium.panel-block(href='https://www.facebook.com/morgana.hapon')
                        span.icon
                            i.fa.fa-facebook  
                        span facebook                    
                    a.button.is-medium.panel-block(href='https://kitfatalist.tumblr.com')
                        span.icon
                            i.fa.fa-tumblr  
                        span tumblr  


    .container
        .content.has-text-centered
            p
                strong HAPON HANGOUT
                |  labs by 
                a(href='https://www.linkedin.com/in/maryna-hapon/') Maryna Hapon.
