extends ../layout/main

block variables
	- var title = 'HAPON HANGOUT'

block content

	section.hero.is-light.is-medium.bg-index
		.hero-body
			.container.has-text-centered
				h1.title
					| Hapon Hangout Lab Work
				h2.subtitle
					| Задания для лабораторных работ
	hr.section-divider

	.wrap
		.container
			.columns

				.column
					.box
						.columns
							.column.flex-vertical
								h2 Лабораторная работа №1. Основные понятия языка JS. Классы и объекты.
								hr.navbar-divider
								h4 Аудиторное задание
								ul
									li Разработать консольную программу Hello в виде одного класса.
									li Разработать консольную программу Hello в виде двух классов.
									li Разработать программу Hello с диалоговым окном в виде двух классов.
									li Просмотреть полученную страницу Web- браузером.
								h4 Задание 1
								p Написать программу  ввода строк как аргументов командной строки и их вывода на консоль.
								h4 Задание 2
								p Ввести с консоли n целых чисел и поместить их в массив. Найти среди них указанные числа и вывести на консоль: Числа, которые делятся на 5 или на 10.

								.progress-wrap
									progress.progress.is-success(value='100', max='100') 100%
				.column
					.box
						.columns
							.column.flex-vertical
								h2 Лабораторная работа №2. Работа с массивами и строками.
								hr.navbar-divider
								h4 Задание 1
								p В приведенных ниже заданиях необходимо вывести внизу фамилию разработчика, дату и время получения задания, а также дату и время сдачи задания. Для получения последней даты и времени используйте класс Date. Добавьте комментарии в программы в виде /** комментарий */, извлеките эту документацию в HTML- файл и просмотрите полученную страницу Web- броузером.
								p Модифицировать программы решения задач, осуществляя ввод строк как аргументов командной строки.
								p 1. Ввести n строк с консоли, найти самую короткую строку. Вывести эту строку и ее длину.
								p 2. Ввести n строк с консоли. Найти самую длинную строку. Вывести найденную строку и ее длину.
								p 3. Ввести n строк с консоли. Упорядочить и вывести строки в порядке возрастания их длин, а также значения их длин.
								p 4. Ввести n строк с консоли. Упорядочить строки и вывести эти строки в порядке убывания длины, а также значения их длин.
								p 5. Ввести n строк с консоли. Вывести на консоль те строки, длина которых меньше средней, также их длины.
								p 6. Ввести n строк с консоли. Вывести на консоль те строки, длина которых больше средней, а также их длины.
								p 7. Ввести n строк с консоли. В тексте найти первую подстроку максимальной длины, не содержащую букв.
								p 8. Ввести n строк с консоли. В трех словах найти одинаковые буквы, которые встречаются во всех словах.

								h4 Задание 2
								p В одномерном массиве, состоящем из n целых элементов, вычислить:
								p 1.	произведение элементов массива с четными номерами;
								p 2.	сумму элементов массива, расположенных между первым и последним нулевыми элементами.
								p Преобразовать массив таким образом, чтобы сначала располагались все положительные элементы, а потом – все отрицательные (элементы, равные 0, считать положительными).

								.progress-wrap
									progress.progress.is-primary(value='100', max='100') 100%


			.columns
				.columngulp
					.box
						.columns
							.column.flex-vertical
								h2 Лабораторная работа №3.
								hr.navbar-divider
								p Классы. Поля данных и методы. Конструкторы. Наследование. Полиморфизм.

								.progress-wrap
									progress.progress.is-warning(value='45', max='100') 45%
				.column
					.box
						.columns
							.column.flex-vertical
								h2 Лабораторная работа №4.
								hr.navbar-divider
								p Абстрактные классы и методы.
							
								.progress-wrap
									progress.progress.is-danger(value='10', max='100') 10%


			.columns
				.column
					.box
						.columns
							.column.flex-vertical
								h2 Лабораторная работа №5.
								hr.navbar-divider
								p Потоки ввода-вывода.

								.progress-wrap
									progress.progress.is-danger(value='5', max='100') 5%
				.column
					.box
						.columns
							.column.flex-vertical
								h2 Лабораторная работа №6.
								hr.navbar-divider

								.progress-wrap
									progress.progress.is-danger(value='0', max='100') 0%

