extends ../layout/main

block variables
	- var title = 'Lab 0010'

block content
	section.hero.is-white.is-medium.bg-lab2
		.container.has-text-centered.title-lab-2
			h1.title.is-uppercase
				| Лабораторная работа №2
			h2.subtitle
				| Работа с массивами и строками.
		canvas#wave

		hr.section-divider

	.wrap-box
		section.container
			.box
				.columns
					.column
						h4.has-text-primary Задание 1
						hr.navbar-divider
						p В приведенных ниже заданиях необходимо вывести внизу фамилию разработчика, дату и время получения задания, а также дату и время сдачи задания. Для получения последней даты и времени используйте класс Date.
						p Модифицировать программы решения задач, осуществляя ввод строк как аргументов командной строки.


				hr.navbar-divider
				.notification
					p
						| 1. Ввести n строк с консоли, найти
						strong &#160;самую короткую&#160;
						| строку. Вывести эту строку и ее длину.

				.columns
					.column.flex-vertical
						#userShortString
							.field.checkNumb
								label.label.userNumber Введите вашу строку
									.control.has-icons-right
										input.input(type='text', placeholder='Ваша строка')

						.btn-flex-group.btn-num-group
							a.button.is-link.is-outlined.addUserShortString Добавить новую строку
							a.button.is-primary.is-outlined.checkShortString Вычислить

					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultShortStringTitle
								span.resultShortStringValue
							p
								span.resultShortLengthTitle
								span.resultShortLengthValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate


				hr.navbar-divider
				.notification
					p
						| 2. Ввести n строк с консоли, найти
						strong &#160;самую длинную&#160;
						| строку. Вывести эту строку и ее длину.

				.columns
					.column.flex-vertical
						#userLongString
							.field.checkNumb
								label.label.userNumber Введите вашу строку
									.control.has-icons-right
										input.input(type='text', placeholder='Ваша строка')

						.btn-flex-group.btn-num-group
							a.button.is-link.is-outlined.addUserString Добавить новую строку
							a.button.is-primary.is-outlined.checkString Вычислить

					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultLongStringTitle
								span.resultLongStringValue
							p
								span.resultLongLengthTitle
								span.resultLongLengthValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate


				hr.navbar-divider
				.notification
					p
						| 3. Ввести n строк с консоли. Упорядочить и вывести строки
						strong &#160;в порядке возрастания их длин&#160;
						| , а также значения их длин.

				.columns
					.column.flex-vertical
						#userIncreaseString
							.field.checkNumb
								label.label.userNumber Введите вашу строку
									.control.has-icons-right
										input.input(type='text', placeholder='Ваша строка')

						.btn-flex-group.btn-num-group
							a.button.is-link.is-outlined.addUserIncreaseString Добавить новую строку
							a.button.is-primary.is-outlined.checkIncreaseString Вычислить

					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultIncreaseStringTitle
								span.resultIncreaseStringValue
							p
								span.resultIncreaseLengthTitle
								span.resultIncreaseLengthValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate


				hr.navbar-divider
				.notification
					p
						| 4. Ввести n строк с консоли. Упорядочить и вывести строки
						strong &#160;в порядке убывания длины&#160;
						| , а также значения их длин.

				.columns
					.column.flex-vertical
						#userDecreaseString
							.field.checkNumb
								label.label.userNumber Введите вашу строку
									.control.has-icons-right
										input.input(type='text', placeholder='Ваша строка')

						.btn-flex-group.btn-num-group
							a.button.is-link.is-outlined.addUserDecreaseString Добавить новую строку
							a.button.is-primary.is-outlined.checkDecreaseString Вычислить

					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultDecreaseStringTitle
								span.resultDecreaseStringValue
							p
								span.resultDecreaseLengthTitle
								span.resultDecreaseLengthValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate


				hr.navbar-divider
				.notification
					p
						| 5. Ввести n строк с консоли. Вывести на консоль те строки
						strong &#160;длина которых меньше средней&#160;
						| , также их длины.

				.columns
					.column.flex-vertical
						#userLessAverageString
							.field.checkNumb
								label.label.userNumber Введите вашу строку
									.control.has-icons-right
										input.input(type='text', placeholder='Ваша строка')

						.btn-flex-group.btn-num-group
							a.button.is-link.is-outlined.addUserLessAverageString Добавить новую строку
							a.button.is-primary.is-outlined.checkLessAverageString Вычислить

					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultLessAverageStringTitle
								span.resultLessAverageStringValue
							p
								span.resultLessAverageLengthTitle
								span.resultLessAverageLengthValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate


				hr.navbar-divider
				.notification
					p
						| 6. Ввести n строк с консоли. Вывести на консоль те строки
						strong &#160;длина которых больше средней&#160;
						| , также их длины.

				.columns
					.column.flex-vertical
						#userMoreAverageString
							.field.checkNumb
								label.label.userNumber Введите вашу строку
									.control.has-icons-right
										input.input(type='text', placeholder='Ваша строка')

						.btn-flex-group.btn-num-group
							a.button.is-link.is-outlined.addUserMoreAverageString Добавить новую строку
							a.button.is-primary.is-outlined.checkMoreAverageString Вычислить


					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultMoreAverageStringTitle
								span.resultMoreAverageStringValue
							p
								span.resultMoreAverageLengthTitle
								span.resultMoreAverageLengthValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate


				hr.navbar-divider
				.notification
					p
						| 7. Ввести n строк с консоли. В тексте найти первую
						strong &#160;подстроку максимальной длины&#160;
						| , не содержащую букв.

				.columns
					.column.flex-vertical
						#userNumSubstring
							.field.checkNumb
								label.label.userNumber Введите вашу строку
								textarea.textarea(placeholder='Введите вашу строку')

						.btn-flex-group.btn-num-group
							p
							a.button.is-primary.is-outlined.checkNumSubstring Вычислить


					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultNumSubstringTitle
								span.resultNumSubstringValue
							p
								span.resultNumSubstringLengthTitle
								span.resultNumSubstringLengthValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate


				hr.navbar-divider
				.notification
					p
						| 8. Ввести n строк с консоли. В трех словах найти
						strong &#160;одинаковые буквы&#160;
						| , которые встречаются во всех словах.

				.columns
					.column.flex-vertical
						#userSameSubstring
							.field.checkNumb
								label.label.userNumber Введите вашу строку
								textarea.textarea(placeholder='Введите вашу строку')

						.btn-flex-group.btn-num-group
							p
							a.button.is-primary.is-outlined.checkSameSubstring Вычислить

					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultSameSubstringTitle
								span.resultNumSameSubstringValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate


	.wrap-box
		section.container
			.box
				.columns
					.column
						h4.has-text-primary Задание 2


				hr.navbar-divider
				.notification
					p
						| 1. В одномерном массиве, состоящем из n целых элементов, вычислить:
						strong &#160;произведение элементов массива&#160;
						| , с четными номерами.

				.columns
					.column.flex-vertical
						#userNumberMul
							.field.checkNumb
								label.label.userNumber Введите ваше число
									.control.has-icons-right
										input.input(type='text', placeholder='Ваше число')

						.btn-flex-group.btn-num-group
							a.button.is-link.is-outlined.addUseNumberMul Добавить новое число
							a.button.is-primary.is-outlined.checkUserNumberMul  Вычислить

					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultUserNumberMulTitle
								span.resultUserNumberMulValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate


				hr.navbar-divider
				.notification
					p
						| 2. В одномерном массиве, состоящем из n целых элементов, вычислить:
						strong &#160;сумму элементов массива&#160;
						| , расположенных между первым и последним нулевыми элементами.
						| Преобразовать массив таким образом, чтобы сначала располагались все положительные элементы, а потом – все отрицательные (элементы, равные 0, считать положительными).

				.columns
					.column.flex-vertical
						#userNumberSum
							.field.checkNumb
								label.label.userNumber Введите ваше число
									.control.has-icons-right
										input.input(type='text', placeholder='Ваше число')

						.btn-flex-group.btn-num-group
							a.button.is-link.is-outlined.addUseNumberSum Добавить новое число
							a.button.is-primary.is-outlined.checkUserNumberSum  Вычислить

					.column.is-two-forth.lab2
						label.label Результат
						pre
							p
								span.resultUserNumberSumTitle
								span.resultUserNumberSumValue
							p.sign-date
								span
									span Выдача задания&#160;
									span.startDate
								span
									span Текущая дата&#160;
									span.currentDate