extends ../layout/main

block variables
	- var title = 'Lab 0010'

block content

	section.hero.is-light.is-medium.bg-lab2
		.hero-body
			.container.has-text-centered
				h1.title
					| Лабораторная работа №2
				h2.subtitle
					| Работа с массивами и строками.


	.wrap-box
		section.container
			.box
				.columns
					.column
						h4 Задание 1
						hr.navbar-divider
						p В приведенных ниже заданиях необходимо вывести внизу фамилию разработчика, дату и время получения задания, а также дату и время сдачи задания. Для получения последней даты и времени используйте класс Date.
						p Модифицировать программы решения задач, осуществляя ввод строк как аргументов командной строки.
						p 1. Ввести n строк с консоли, найти самую короткую строку. Вывести эту строку и ее длину.
						p 2. Ввести n строк с консоли. Найти самую длинную строку. Вывести найденную строку и ее длину.
						p 3. Ввести n строк с консоли. Упорядочить и вывести строки в порядке возрастания их длин, а также значения их длин.
						hr.navbar-divider

				.columns
					.column.flex-vertical
						div
							#userString
								.field.checkNumb
									label.label.userNumber Введите вашу строку
										.control.has-icons-right
											input.input(type='text', placeholder='Ваша строка')

							.btn-flex-group.btn-num-group
								a.button.is-link.is-outlined.addUserString Добавить новую строку
								a.button.is-primary.is-outlined.checkString  Отлично


					.column.is-two-thirds
						pre
							p
								span Выдача задания
								span.startDate
								span / Текущая дата
								span.currentDate


	.modal.modalHello.is-success
		article.message.is-success
			.message-header
				p Modal message
				button.delete.modalHelloHide(aria-label='delete')

			.message-body

