extends ../layout/main

block variables
	- var title = 'Lab 0010'

block content

	section.hero.is-light.is-medium.bg-lab2
		.hero-body
			.container.has-text-centered
				h1.title
					| Лабораторная работа №2
				h2.subtitle
					| Работа с массивами и строками.


	.wrap-box
		section.container
			.box
				.columns
					.column.flex-vertical
						p Разработать консольную программу Hello в виде одного класса.
						a.alertHello.button.is-outlined.is-warning Hello, world! (alert)

					.column.is-two-thirds
						pre.
							&lt;script&gt;

							&lt;/script&gt;
	


