extends ../layout/main

block variables
	- var title = 'Lab 0010'

block content

	section.hero.is-light.is-medium.bg-lab2
		.hero-body
			.container.has-text-centered
				h1.title
					| Лабораторная работа №2
				h2.subtitle
					| Работа с массивами и строками.


	.wrap-box
		section.container
			.box
				.columns
					.column.flex-vertical
						h4 Задание 1
						hr.navbar-divider
						p В приведенных ниже заданиях необходимо вывести внизу фамилию разработчика, дату и время получения задания, а также дату и время сдачи задания. Для получения последней даты и времени используйте класс Date.

						//p Модифицировать программы решения задач, осуществляя ввод строк как аргументов командной строки.
						//p 1. Ввести n строк с консоли, найти самую короткую строку. Вывести эту строку и ее длину.
						//p 2. Ввести n строк с консоли. Найти самую длинную строку. Вывести найденную строку и ее длину.
						//p 3. Ввести n строк с консоли. Упорядочить и вывести строки в порядке возрастания их длин, а также значения их длин.

						a.button.is-outlined.is-warning Hello

					.column.is-two-thirds
						pre
							p.startDate

							p.currentDate


	


