extends ../layout/main

block variables
	- var title = 'Lab 0011'

block content

	section.hero.is-success.is-medium
		.hero-body
			.container.has-text-centered
				h1.title
					| Лабораторная работа №3
				h2.subtitle
					| КРасиВо
		
		.hero-foot
			nav.tabs
				.container
					ul
						li.is-active
							a Overview
						li
							a Modifiers
						li
							a Grid
						li
							a Elements
						li
							a Components
						li
							a Layout

	

	


