extends ../layout/main

block variables
	- var title = 'Lab 0011'

block content
	section.hero.is-white.is-medium.bg-lab2
		.container.has-text-centered.title-lab-2
			h1.title.is-uppercase
				| Лабораторная работа №3
			h2.subtitle
				| Классы. Поля данных и методы. Конструкторы. Наследование. Полиморфизм.
		canvas#dots


	.wrap-box
		section.container
			.box
				.columns
					.column
						h4.has-text-info Задание 1
						hr.navbar-divider
						p Создать классы, спецификации которых приведены ниже. Определить конструкторы и методы
							em &#160;setТип(), getТип(), equals(), toString()
							| . Определить дополнительно методы в классе, создающем массив объектов. Задать критерий выбора данных и вывести эти данные на консоль.
						p
							b Patient:
							| &#160;id, Фамилия, Имя, Отчество, Адрес, Телефон, Номер медицинской карты, Диагноз.
						p Создать массив объектов. Вывести:
						p a)    список пациентов, имеющих данный диагноз;
						p b)    список пациентов, номер медицинской карты у которых находится в заданном интервале.


				.columns
					.column.is-two-forth.lab3
						.card
							.card-content
								h3.title
									| Регистрация нового пациента

								.field
									.control
										label.label Введите ID
										input.input.is-info(type='text', placeholder='ID')#ID

								.field
									.control
										label.label Введите фамилию пациента
										input.input.is-info(type='text', placeholder='Фамилия')#surname

								.field
									.control
										label.label Введите имя пациента
										input.input.is-info(type='text', placeholder='Имя')#name

								.field
									label.label Введите отчество пациента
									.control
										input.input.is-info(type='text', placeholder='Отчество')#patronymic

								.field
									label.label Введите адрес пациента
									.control
										input.input.is-info(type='text', placeholder='Адрес')#address

								.field
									label.label Введите телефон пациента
									.control
										input.input.is-info(type='text', placeholder='Телефон')#phone

								.field
									label.label Введите номер медицинской карты
									.control
										input.input.is-info(type='text', placeholder='Номер медицинской карты')#medicalCardID

								.field
									p#message


							footer.card-footer
								p.card-footer-item
									a.button.is-danger.is-inverted#resetPatient Отменить

								p.card-footer-item
									a.button.is-primary.is-inverted#registerPatient Сохранить



					.column.is-two-forth.lab3
						.card
							.card-content
								h3.title
									| Диагноз пациента

								.field
									.control
										.field
											label.label Введите номер медицинской карты
											input.input.is-info(type='text', placeholder='Номер медицинской карты')#diagnosisMedicalCardID

										.field
											label.label Введите диагноз пациента
											textarea.textarea.is-info(placeholder='Диагноз')#diagnosis

							footer.card-footer
								p.card-footer-item
									a.button.is-danger.is-inverted#diagnosisCancel Отменить

								p.card-footer-item
									a.button.is-primary.is-inverted#diagnosisSubmit Сохранить




				.columns

					.column.is-two-forth.lab3
						.card
							.card-content
								h3.title
									| База пациентов

								.field
									.control
										label.label Введите интервал номеров медицинских карт
										p.id-range
											input.input.is-info(type='text', placeholder='Начальный номер')#startRange
											input.input.is-info(type='text', placeholder='Конечный номер')#endRange

								footer.card-footer
									p.card-footer-item
										a.button.is-info.is-inverted#searchMedicalCart  Найти

								.notification
									#resultMedicalCart


					.column.is-two-forth.lab3
						.card
							.card-content
								h3.title
									| База пациентов

								.field
									.control
										label.label Введите диагноз
										input.input.is-info(type='text', placeholder='Диагноз')#searchDiagnosis

								footer.card-footer
									p.card-footer-item
										a.button.is-info.is-inverted#resultDiagnosis  Найти

								.notification
									#diagnosisPatient


	.wrap-box
		section.container
			.box
				.columns
					.column
						h4.has-text-info Задание 2
						hr.navbar-divider
						p Определить класс Вектор в R
							sup 3
							| . Реализовать методы для проверки векторов на ортогональность, проверки пересечения неортогональных векторов, сравнения векторов. Создать массив из m объектов. Определить, какие из векторов компланарны.

				hr.navbar-divider
				.notification
					//p
						| 1. В одномерном массиве, состоящем из n целых элементов, вычислить:
						strong &#160;произведение элементов массива&#160;
						| , с четными номерами.



	.modal
		.modal-background
		.modal-card
			header.modal-card-head
				p.modal-card-title
				button.delete(aria-label='close')
			section.modal-card-body

			footer.modal-card-foot
				//button.button.is-success Save changes
				//button.button Cancel

