extends ../layout/main

block variables
    - var title = 'Lab 0100'

block content
    section.hero.is-white.is-medium.bg-lab2
        .container.has-text-centered.title-lab-2
            h1.title.is-uppercase
                | Лабораторная работа №4
            h2.subtitle
                | Абстрактные классы и методы. Интерфейсы.

    .wrap-box
        section.container
            .box
                .columns
                    .column
                        h4.has-text-info Задание 1
                        hr.navbar-divider
                        p Система Телефонная станция. Абонент оплачивает Счет за разговоры и Услуги, может попросить Администратора сменить номер и отказаться от услуг. Администратор изменяет номер, Услуги и временно отключает Абонента за неуплату.




