.wrap 
	padding 40px 0

.wrap-box
	padding 20px 0

.inner 
	padding 10px 30px

.nav-site
	position(fixed, 0,0, ,0)
	z-index 1000

.section-divider
	margin 0

.box-shadow-top
	box-shadow inset 0 0 6px 0 rgba(0, 0, 0, 0.55)

.box-shadow-bottom
	box-shadow inset 0 0 6px 0 rgba(0, 0, 0, 0.55)

.bg-index
.bg-lab1
.bg-lab2
	margin 58px 0 0 0

.bg-index
	background url("../../static/img/general/computer.svg") no-repeat center

.bg-lab1
	background url("../../static/img/general/clipboard.svg") no-repeat center

.progress-wrap
	padding 10px 0 0

.flex-vertical
	display flex
	flex-direction column
	justify-content space-between

.hidden
	display none

.modal
	background-color rgba(0, 0, 0, 0.56)
	transition 0.3s

.message 
	min-width 300px

.btn-flex-group
	display flex
	justify-content space-between

.userFirstName
.userLastName
.userNumber
	position relative

.btnFirstNameReset
.btnLastNameReset
.deleteUserNumber
	position absolute
	bottom 6px
	right 2px

.btnFirstNameReset:hover
.btnLastNameReset:hover
.deleteUserNumber:hover
	cursor pointer

.btn-num-group
	margin 0.75rem 0 0 0

.c
	background white
	overflow hidden
	margin 0
	width 100%
	height 100%