@import 'fonts.styl'
@import 'vars.styl'
@import 'libs.styl'
@import 'mixins.styl'

@import 'common_styles.styl'
@import 'modules/header.styl'
@import 'modules/footer.styl'
@import 'modules/menu.styl'
@import 'pages/index.styl'
@import 'media.styl'

html
	line-height 1
	font-size 16px


body
	font-family 'Roboto Slab', serif


h1,h2,h3,h4,h5,h6
	margin 0
	font-family: 'Roboto', sans-serif


h1
	font-size 2em


h2
	font-size 1.5em


h3
	font-size 1.17em


h4
	font-size 1.12em


h5
	font-size .83em


h6
	font-size .75em


ul,li
	margin 0
	padding 0
	list-style-type none

p
	margin 0

a
	text-decoration none
	color black
	transition .3s


audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle


textarea
	resize none


section
	position relative


input,
select,
button
	outline none


*, *:before, *:after
	box-sizing border-box

.title
	font-weight 400
	font-style italic
	font-size 28px


.navbar-title
	font-weight 400
	font-style italic
